[submodule "BSV-RVFI-DII"]
	path = utils/BSV-RVFI-DII
	url = https://github.com/CTSRD-CHERI/BSV-RVFI-DII.git
[submodule "RVBS"]
	path = riscv-implementations/RVBS
	url = https://github.com/CTSRD-CHERI/RVBS.git
[submodule "riscv-isa-sim"]
	path = riscv-implementations/riscv-isa-sim
	url = https://github.com/CTSRD-CHERI/riscv-isa-sim.git
[submodule "sail-riscv-test-generation"]
	path = vengines/sail-riscv-test-generation
	url = https://github.com/rems-project/sail-riscv-test-generation.git
[submodule "sail-riscv"]
	path = riscv-implementations/sail-riscv
	url = https://github.com/rems-project/sail-riscv.git
[submodule "Piccolo"]
	path = riscv-implementations/Piccolo
	url = https://github.com/CTSRD-CHERI/Piccolo.git
[submodule "sail-cheri-riscv"]
	path = riscv-implementations/sail-cheri-riscv
	url = https://github.com/CTSRD-CHERI/sail-cheri-riscv.git
[submodule "ibex"]
	path = riscv-implementations/ibex
	url = https://github.com/CTSRD-CHERI/ibex.git
[submodule "riscv-implementations/Flute"]
	path = riscv-implementations/Flute
	url = https://github.com/CTSRD-CHERI/Flute.git
[submodule "vengines/QuickCheckVEngine"]
	path = vengines/QuickCheckVEngine
	url = https://github.com/CTSRD-CHERI/QuickCheckVEngine.git
[submodule "riscv-implementations/qemu"]
	path = riscv-implementations/qemu
	url = https://github.com/CTSRD-CHERI/qemu
	branch = qemu-cheri
